body {
    margin: 0px;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    background-image: url(./images/Dark-Forest-Background-Desktop.jpg);
    background-size: cover;
    backdrop-filter: blur(3px);
    justify-content: center;

}


.cards {
    width: 20%;
    margin: 15px;
    background-color: #f9f4ec;
    cursor: pointer;
    transition: 200ms;
    position: relative;
    top: 23%;
    position: relative;
    align-self: baseline;
}

.cards:hover {
    scale: 110%;
}



.image-container {
    width: 61%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-self: center;
    margin-top: 32px;
    overflow: hidden;
    justify-content: center;
}

img {
    scale: 190%;
}

#card3 img {
    position: relative;
    top: 27%;
}

p {
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}
.name {
    font-size: 2em;
    margin-top: 62px;
}

.role {
    margin-top: -18px;
    color: dimgray;
    margin-bottom: 33px;
}

@media (max-width: 1016px) {
    .name {
        font-size: 24px;
    }
    .role {
        font-size: 14px;
        margin-top: -8px;
    }
}

@media (max-width:766px) {
    .name {
        font-size: 16px;
    }
    .role {
        margin-top: 10px;
        font-size: 14px;
    }
}
